---
BasedOnStyle: WebKit
Language: Cpp
Standard: Cpp11

TabWidth: 4
ColumnLimit: 100
SortIncludes: true

DerivePointerAlignment: false
PointerAlignment: Right
SpaceAfterCStyleCast: false
SpaceInEmptyParentheses: false

AlignAfterOpenBracket: true
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignConsecutiveMacros: Consecutive

BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false

Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
IndentCaseLabels: false
IndentPPDirectives: AfterHash
NamespaceIndentation: None

FixNamespaceComments: true
ReflowComments: false
