---
BasedOnStyle: WebKit
Language: Cpp
Standard: Cpp11

TabWidth: 4
ColumnLimit: 100
SortIncludes: true

DerivePointerAlignment: false
PointerAlignment: Right
SpaceAfterCStyleCast: false
SpaceInEmptyParentheses: false

AlignAfterOpenBracket: true
AlignEscapedNewlinesLeft: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
IndentCaseLabels: false
NamespaceIndentation: None
