*.a
*.o
*.lo
*.la
/*.tar.xz
/*.md5sum
.deps/
.libs/
.dirstamp
/Makefile
/Makefile.in

/aclocal.m4
/autom4te.cache
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/include/mavlink
/libtool
/mav.data
/mav.parm
/mav.tlog
/mav.tlog.raw
/mavlink-router.service
/perf.data
/perf.data.old
/stamp-h1

*~
.*.swp
cscope.out
tags

/mavlink-routerd
/heartbeat-print

test.log
