Source: mavlink-router
Section: unknown
Priority: optional
Maintainer: Helge Bahmann <helge@auterion.com>
Build-Depends-Indep:
 debhelper (>= 11),
 pkg-config,
 systemd,
 python3-pip,
 g++-aarch64-linux-gnu [arm64],
 gcc-aarch64-linux-gnu [arm64],
Build-Depends:
 libgtest-dev,
 libc6,
 libstdc++6,
 libsystemd-dev,
Standards-Version: 4.1.3
Homepage: https://github.com/Auterion/mavlink-router

Package: mavlink-router
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mavlink router
 Mavlink router
