#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
ifneq ($(DEB_BUILD_ARCH_CPU),$(DEB_HOST_ARCH_CPU))
	LC_ALL=C.UTF-8 meson setup obj-aarch64-linux-gnu \
		--prefix=/usr \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--libdir=lib/aarch64-linux-gnu \
		--cross-file meson-cross-aarch64.ini \
		--reconfigure 
else
ifeq ($(DEB_BUILD_ARCH_CPU),arm64)
	LC_ALL=C.UTF-8 meson setup obj-aarch64-linux-gnu \
		--prefix=/usr \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--libdir=lib/aarch64-linux-gnu
else
	LC_ALL=C.UTF-8 meson setup obj-x86_64-linux-gnu \
		--prefix=/usr \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--libdir=lib/x86_64-linux-gnu
endif
endif

override_dh_auto_build:
ifneq ($(DEB_BUILD_ARCH_CPU),$(DEB_HOST_ARCH_CPU))
	LC_ALL=C.UTF-8 ninja -C obj-aarch64-linux-gnu
else
ifeq ($(DEB_BUILD_ARCH_CPU),arm64)
	LC_ALL=C.UTF-8 ninja -C obj-aarch64-linux-gnu
else
	LC_ALL=C.UTF-8 ninja -C obj-x86_64-linux-gnu
endif
endif