# This is the mavlink-router configuration file.

# Syntax
#
# The configuration file is composed of sections, each containing a set of
# key-value-pairs. Section names, keys and pre-defined values are case
# insensitive. Sections can have names when they have multiple instances.
#
# Lines starting with a `#` symbol are considered a comment and ignored.
# Comments at the end of a line are not allowed.
#
# A section starts with `[$section_type name-of-section]`. The name must not
# contain any blanks.
# Keys-value-pairs are separated by a `=` sign, the surrounding whitespace is
# ignored. So `key=value` is the same as `key = value`.
#
# Boolean values can either be defined as <true>/ <false> or <1>/ <0>.
# Lists are comma separated.
#

##
## General Configuration
##

[General]
# this section only has one instance and therefore no name

# Print traffic statistics to stdout
# Default: <false>
#ReportStats = false

# Logging verbosity (stderr)
# Valid values: <error>, <warning>, <info> or <debug>
# Default: <info>
#DebugLogLevel = info

# Enable de-duplication of incoming messages. If a message is received another
# time in the configured time period (in milliseconds), it will be dropped. The
# second message will reset the timer.
# It should be a bit higher, than the latency of the slowest link. More than
# 1000 ms might drop packets unintentionally though.
# Default: 0 (de-duplication disabled)
#DeDuplicationPeriod = 0

## TCP Server Endpoints

# Listen for TCP connections on this port. Set to 0 to disable.
# Default: 5760
#TcpServerPort = 5760

## Flight Stack Logging

# Define the MAVLink dialect used by the flight stack, so mavlink-router can
# log appropiately. In <auto> mode, the flight stack will be deferred from the
# heartbeat message.
# Valid values: <auto>, <common> or <ardupilotmega>
# Default: <auto>
#MavlinkDialect = auto

# Enable flight stack logging and specify directory to save log files in.
# No default/ disabled by default.
#Log = /some/path

# Define when to store flight stack or telemetry logs. From the start of
# mavlink-router until it's stopped or just while the vehicle is armed.
# Valid values: <always>, <while-armed>
# Default: <always>
#LogMode = always

# Preset the FCU MAVLink ID from which logs should be received. If absent, it
# will be set to the system ID of the first flight stack heartbeat received.
# No default value.
#LogSystemId = 

# Auto-delete old log files until there's at least the configured amount of
# bytes free on the storage device. Set to 0 to disable this functionality.
# Default: 0 (disabled)
#MinFreeSpace = 0

# Auto-delete old log files to not have more files than configured. Set to 0 to
# disable this functionality.
# Default: 0 (disabled)
#MaxLogFiles = 0

# SnifferSysid
# Forward all traffic to endpoints on which this MAVLink system ID is connected.
# This can be used to log or view all messages flowing though mavlink-router.
# Default: 0 (disabled)
#SnifferSysid=254

# Log raw mavlink telemetry data as tlog files to disc. Only works if Logging path 
# is defined. This also uses LogMode to control the recording.
# Valid values: <true>, <false>
# Default: <false>
# LogTelemetry = false


##
## UART Endpoint Configurations
## Duplicate sections (with a different name) to create multiple endpoints
##

#[UartEndpoint $name]

# Path to UART device. like `/dev/ttyS0`
# Mandatory, no default value
#Device = 

# List of baudrates to use for the UART connection. The values will be cycled
# through until valid MAVLink packets are received.
# Format: Comma separated list of integers
# Default: 115200
#Baud = 115200

# Enable flow control on device
# Default: <false>
#FlowControl = false

# Only allow specified MAVLink message IDs to be sent via this endpoint. An
# empty list allows all message IDs.
# Format: Comma separated list of integers
# Default: Empty list (disabled)
#AllowMsgIdOut = 

# Block specified MAVLink message IDs to be sent via this endpoint. An
# empty list won't block any message IDs.
# Format: Comma separated list of integers
# Default: Empty list (disabled)
#BlockMsgIdOut = 

# Only allow messages from the specified MAVLink source component IDs to be
# sent via this endpoint. An empty list allows all source components.
# Format: Comma separated list of integers
# Default: Empty list (disabled)
#AllowSrcCompOut = 

# Block messages from the specified MAVLink source component IDs to be
# sent via this endpoint. An empty list won't block any source components.
# Format: Comma separated list of integers
# Default: Empty list (disabled)
#BlockSrcCompOut = 

# Only allow messages from the specified MAVLink source systems to be sent via
# this endpoint. An empty list allows all source components.
# Format: Comma separated list of integers
# Default: Empty list (disabled)
#AllowSrcSysOut = 

# Block messages from the specified MAVLink source systems to be sent via
# this endpoint. An empty list won't block any source systems.
# Format: Comma separated list of integers
# Default: Empty list (disabled)
#BlockSrcSysOut = 

# Only allow specified MAVLink message IDs to be received on this endpoint.
# An empty list allows all message IDs.
# Format: Comma separated list of integers
# Default: Empty list (disabled)
#AllowMsgIdIn = 

# Block specified MAVLink message IDs to be received on this endpoint.
# An empty list won't block any message IDs.
# Format: Comma separated list of integers
# Default: Empty list (disabled)
#BlockMsgIdIn = 

# Only allow messages from the specified MAVLink source component IDs to be
# received on this endpoint. An empty list allows all source components.
# Format: Comma separated list of integers
# Default: Empty list (disabled)
#AllowSrcCompIn = 

# Block messages from the specified MAVLink source component IDs to be
# received on this endpoint. An empty list won't block any source components.
# Format: Comma separated list of integers
# Default: Empty list (disabled)
#BlockSrcCompIn = 

# Only allow messages from the specified MAVLink source systems to be received
# on this endpoint. An empty list allows all source components.
# Format: Comma separated list of integers
# Default: Empty list (disabled)
#AllowSrcSysIn = 

# Block messages from the specified MAVLink source systems to be received
# on this endpoint. An empty list won't block any source systems.
# Format: Comma separated list of integers
# Default: Empty list (disabled)
#BlockSrcSysIn = 

# Group parallel/ redundant data links to use the same list of connected
# systems. This is needed to prevent messages from one of the parallel links
# being send back on the other one right away.
# Set the same name (arbitrary string) on multiple endpoints to group them.
# Default: Empty (no group)
#Group = 

## Example
[UartEndpoint alpha]
Device = /dev/ttyS0
Baud = 52000


##
## UDP Endpoint Configurations
## Duplicate sections (with a different name) to create multiple endpoints
##

#[UdpEndpoint $name]

# Mode of operation. See the readme for a detailed description of the endpoint
# behavior (client mode is <normal> in the configuraiton).
# Valid values: <normal>, <server>
# Mandatory, no default value
#Mode = 

# Binding or target IP address (depending on mode).
# IPv6 addresses must be encosed in square brackets like `[::1]`.
# Binding to `0.0.0.0` or `[::]` will listen on all interfaces.
# Mandatory, no default value
#Address = 

# UDP port to be used with the configured address.
# Mandatory in <server> mode, no default value
# Optional in <normal> mode, will select the next port not used by mavlink-router
#   starting from 14550 when not speciifed.
#Port = 

# See description at UartEndpoint
#AllowMsgIdOut = 

## Examples
# bind to 0.0.0.0:10000
[UdpEndpoint bravo]
Mode = Server
Address = 0.0.0.0
Port = 10000

# send to 127.0.0.1:11000
[UdpEndpoint charlie]
Mode = Normal
Address = 127.0.0.1
Port = 11000


##
## TCP Client Endpoint Configurations
## Duplicate sections (with a different name) to create multiple endpoints
##

#[TcpEndpoint $name]

# Server IP address to connect to.
# IPv6 addresses must be encosed in square brackets like `[::1]`.
# Mandatory, no default value
#Address = 

# TCP port to be used with the configured address.
# Mandatory, no default value
#Port = 

# Enable automatic reconnect after the configured timeout in seconds. Set to 0
# to disable reconnection.
# Default: 5 seconds
#RetryTimeout = 5

# See description at UartEndpoint
#AllowMsgIdOut = 

## Example
# connect to 127.0.0.1:25760 (e.g. another mavlink-router)
[TcpEndpoint delta]
Address = 127.0.0.1
Port = 25760
